@import "../utils/mixins";
@import "../utils/variables";

.inventory {
  color: white;
  background: darken-color($belto-color, 15%);
  &__header {
    background: darken-color($belto-color, 25%);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    column-gap: 5rem;
    box-shadow: 3px 3px 9px 0px #000000;
    & > h2 {
      font-size: 2rem;
      padding: 1rem;
      margin: 0.5rem;
    }
    & > img {
      width: 60px;
      height: 60px;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    &__coinpurse {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 9px 0px #000000;
      color: black;
      padding: 1rem;
      border: 1px solid #7e3c13;
      border-radius: 15px;
      background: rgb(126, 60, 19);
      background: linear-gradient(
        180deg,
        rgba(126, 60, 19, 1) 3%,
        rgba(231, 130, 62, 1) 48%,
        rgba(231, 130, 62, 1) 54%,
        rgba(126, 60, 19, 1) 100%
      );
      &__list {
        padding-left: 0;
        display: flex;
        flex-direction: row;
        column-gap: 0.2rem;
        justify-content: space-between;
        width: 100%;
        & > li {
          margin-top: 0.3rem;
          padding: 0.3rem;
          border-radius: 5px;
          list-style-type: none;
          width: 33%;
          &:nth-child(1) {
            border: 1px solid black;
            background: #efbf04;
            &::marker {
              color: #efbf04;
            }
          }
          &:nth-child(2) {
            border: 1px solid black;
            background: #d0cec6;
            &::marker {
              color: #d0cec6;
            }
          }
          &:nth-child(3) {
            border: 1px solid black;
            background: #bb6a56;
            &::marker {
              color: #bb6a56;
            }
          }
        }
      }
      &__instruction {
        margin: 1rem;
      }
      &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        width: 100%;
        &__labels {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 0.2rem;
          width: 100%;
          &__goldLabel,
          &__silverLabel,
          &__copperLabel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;
            &__number {
              border: 2px solid black;
              // width: 70px;
              width: 100%;
              text-align: center;
            }
          }
          &__goldLabel {
            &__number {
              background: #efbf04;
            }
          }
          &__silverLabel {
            &__number {
              background: #d0cec6;
            }
          }
          &__copperLabel {
            &__number {
              background: #bb6a56;
            }
          }
        }
        &__buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          column-gap: 1rem;
          &__button {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            font: inherit;
            background-color: #f0f0f0;
            border: 0;
            color: #242424;
            border-radius: 0.5em;
            font-size: 1rem;
            padding: 0.375em 1em;
            font-weight: 600;
            text-shadow: 0 0.0625em 0 #fff;
            box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
              0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0,
              0 0.3125em 0 0 #dedede, 0 0.375em 0 0 #dcdcdc,
              0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
            transition: 0.25s ease;
            pointer: cursor;
            touch-action: manipulation;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            cursor: pointer;

            &:active,
            &:hover {
              transform: translateY(0.225em);
              box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
                0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0,
                0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc,
                0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
              &:after {
                height: calc(100% + 0.225em);
              }
            }

            &:after {
              position: absolute;
              content: "";
              display: block;
              width: 100%;
              height: calc(100% + 0.375em);
              top: 0;
              left: 0;
              background-color: transparent;
              transition: height 0.25s ease;
            }
          }
        }
      }
    }
  }
}
