.item {
  background: $belto-color;
  width: 350px;
  border-radius: 10px;
  box-shadow: 3px 3px 9px 0px #000000;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background: $characters-background;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &__icon {
      max-width: 50px;
    }
  }
  &__stats {
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &__hit,
    &__dmg,
    &__type {
      display: flex;
      column-gap: 1rem;
      align-items: center;
      & > div:nth-child(n + 2) {
        background: $characters-background;
        padding: 0.3rem 1rem 0.3rem 1rem;
        border-radius: 10px;
      }
    }
  }
  &__description {
    margin-left: 1rem;
    margin-right: 1rem;
    &__button {
      color: white;
      background: darken-color($belto-color, 50%);
      border-radius: 10px;
      border: 2px solid #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      height: 50px;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: bold;
      &__icon {
        &.disable {
          animation: buttonIconRotationDisable 0.5s both ease-in-out;
        }
        &.enable {
          animation: buttonIconRotationEnable 0.5s both ease-in-out;
        }
      }
      &:hover {
        background: darken-color($belto-color, 30%);
      }
    }
    &__content {
      text-align: justify;
      &.displayed {
        display: none;
      }
      &.hidden {
        display: block;
      }
    }
  }
}
// &__content {
//   text-align: justify;
//   font-size: 1rem;
//   margin: 1rem;
// }
