@keyframes buttonIconRotationEnable {
  from {
    transform: rotate(450deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes buttonIconRotationDisable {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes dropdownContentFade {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes dropdownContentShow {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
