@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #5d4157; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #a8caba, #5d4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 5rem;
  text-align: center;
}

.range__indicator {
  color: #116e5c;
}

.fire__dmg {
  color: #c22608;
}

.specific {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

@keyframes buttonIconRotationEnable {
  from {
    transform: rotate(450deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes buttonIconRotationDisable {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(450deg);
  }
}
.spell {
  margin-top: 1rem;
  margin-left: 1rem;
  background: #1f1f1f;
  width: 375px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  border-radius: 10px;
  border: 3px solid white;
}
.spell > h2 {
  margin: 0.5rem;
}
.spell__type {
  text-align: center;
  background: #116e5c;
  max-width: 60%;
  border-radius: 10px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  font-size: 0.8rem;
}
.spell > img {
  width: 100%;
  max-width: 150px;
}
.spell > h3 {
  border: 3px solid white;
  border-radius: 10px;
  background: #116e5c;
  max-width: 90%;
  text-align: center;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}
.spell__attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
  width: 95%;
  background: #116e5c;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  border-radius: 5px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border: 3px solid white;
}
.spell__attributes__duo {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.spell__attributes__duo__value {
  background: #1f1f1f;
  min-width: 40%;
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  text-overflow: ellipsis;
}
.spell > p {
  margin: 1rem;
  font-weight: 500;
  font-size: 0.85rem;
}

.gear {
  color: white;
  background: hsl(9.7402597403, 70%, 15%);
}
.gear__header {
  background: hsl(9.7402597403, 70%, 25%);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  box-shadow: 3px 3px 9px 0px #000000;
}
.gear__header > h2 {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem;
}
.gear__header > img {
  width: 60px;
  height: 60px;
}
.gear__content {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-bottom: 2rem;
}
.gear__content__image > img {
  box-shadow: 3px 3px 9px 0px #000000;
  border-radius: 5px;
  margin-left: 1rem;
}
.gear__content__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  background: #9d1c03;
  width: 350px;
  border-radius: 10px;
  box-shadow: 3px 3px 9px 0px #000000;
}
.item__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background: #1a1a1a;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.item__title__icon {
  max-width: 50px;
}
.item__stats {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.item__stats__hit, .item__stats__dmg, .item__stats__type {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.item__stats__hit > div:nth-child(n+2), .item__stats__dmg > div:nth-child(n+2), .item__stats__type > div:nth-child(n+2) {
  background: #1a1a1a;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 10px;
}
.item__description__container {
  margin-left: 1rem;
  margin-right: 1rem;
}
.item__description__container__button {
  margin: 0 auto;
  color: white;
  background: hsl(9.7402597403, 70%, 50%);
  border-radius: 10px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.item__description__container__button__icon.disable {
  animation: buttonIconRotationDisable 0.5s both ease-in-out;
}
.item__description__container__button__icon.enable {
  animation: buttonIconRotationEnable 0.5s both ease-in-out;
}
.item__description__container__button:hover {
  background: hsl(9.7402597403, 70%, 30%);
}
.item__description__container__content {
  height: 0px;
  overflow: hidden;
}
.item__description__container__content > p {
  margin-top: 1%;
  text-align: justify;
}
.item__description__container__content.hidden > p {
  animation: dropdownContentFade 2s forwards ease-in-out;
}
.item__description__container__content.displayed > p {
  animation: dropdownContentShow 2s forwards ease-in-out;
}

.loginscreen__content {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1rem;
}
.loginscreen__content__welcome {
  margin-bottom: 2rem;
}
.loginscreen__content__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.loginscreen__content__form__label__text {
  margin-top: 0.3rem;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 0.95rem;
  padding: 0.3rem;
}
.loginscreen__content__form__label__submit {
  margin: 0 auto;
  background: #9fb9ae;
  border-radius: 10px;
  border: 2px solid black;
  height: 50px;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.loginscreen__content__form__label__submit:hover {
  background: hsl(154.6153846154, 70%, 70%);
}

.worlds__container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1rem;
}
.worlds__container__instructions {
  margin-bottom: 2rem;
}
.worlds__container__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.worlds__container__form__label__text {
  margin-top: 0.3rem;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 0.95rem;
  padding: 0.3rem;
}
.worlds__container__form__label__submit {
  margin: 0 auto;
  background: #9fb9ae;
  border-radius: 10px;
  border: 2px solid black;
  height: 50px;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.worlds__container__form__label__submit:hover {
  background: hsl(154.6153846154, 70%, 70%);
}

.inventory {
  color: white;
  background: hsl(9.7402597403, 70%, 15%);
}
.inventory__header {
  background: hsl(9.7402597403, 70%, 25%);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  box-shadow: 3px 3px 9px 0px #000000;
}
.inventory__header > h2 {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem;
}
.inventory__header > img {
  width: 60px;
  height: 60px;
}
.inventory__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.inventory__content__coinpurse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 9px 0px #000000;
  color: black;
  padding: 4rem;
  border: 1px solid #7e3c13;
  border-radius: 15px;
  background: rgb(126, 60, 19);
  background: linear-gradient(180deg, rgb(126, 60, 19) 3%, rgb(231, 130, 62) 48%, rgb(231, 130, 62) 54%, rgb(126, 60, 19) 100%);
}
.inventory__content__coinpurse__form {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.inventory__content__coinpurse__form__content {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.inventory__content__coinpurse__form__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.inventory__content__coinpurse__form__button:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}/*# sourceMappingURL=App.css.map */